<div class="header">
  <h2>The challenge is blocked</h2>
</div>
<div class="subheader">
  <p>Complete the following challenges to proceed:</p>
</div>
<ul>
  @for (challenge of challenges; track challenge.id) {
    <li>
      <a
        href="javascript:void(0)"
        (click)="onChallengeSelected(challenge.id)"
        [class.disabled]="challenge.blocked"
      >
        {{ challenge.title }}
      </a>
      @if (challenge.skillTreeId) {
        -
        <a
          href="javascript:void(0)"
          (click)="onSkillSelected(challenge.skillTreeId!)"
        >
          {{ (challenge.skillTreeId | skillTree)?.name }}
        </a>
      }
    </li>
  }
</ul>
