@if (activeQuest) {
  @if (isIntroductionCompleted) {
    <div class="quest-container">
      <div class="left-pane">
        <app-task-display [quest]="activeQuest"></app-task-display>
      </div>

      <div class="right-pane">
        <app-code-editor
          [executionInProgress]="executionInProgress()"
          [boilerplateCode]="activeQuest.missingCodeTemplate"
          (executeCode)="onExecuteCode($event)"
        ></app-code-editor>

        <app-algorithm-result
          [congratulationText]="activeQuest.congratulationText"
          [expectations]="activeQuest.expectedResult"
          [submission]="submission()"
          (challengeCompleted)="onChallengeCompleted()"
          (executionCompleted)="onExecutionCompleted()"
        ></app-algorithm-result>
      </div>
    </div>
  } @else {
    <div class="intro-container">
      <app-base-dialog [hasNext]="true" (next)="onIntroCompleted()">
        <section class="dialog-content">
          <div class="dialog-content__text">
            <h1>{{ activeQuest.name | translate }}</h1>

            <img class="dialog-content__avatar" src="../../../assets/allied_wizard_avatar.png" alt="allied wizard avatar">

            <p>{{ activeQuest.intro | translate }}</p>
          </div>
          <img class="dialog-content__image" [src]="activeQuest.coverImageUrl" alt="quest cover image">
        </section>
      </app-base-dialog>
    </div>
  }
} @else {
  <p>{{ "COMMON.LOADING" | translate }}</p>
}
