<div class="sidebar-layout">
  <div class="nav-rail">
    <div class="rail-section">
<!--        TODO: ask for confirmation before leaving-->
      <p-button
        icon="pi pi-home"
        [disabled]="isHomePage"
        routerLink="/"
      />
    </div>

    <div class="rail-section rail-section--bottom">
      @for ( item of menuItems; track item.slug) {
        <div class="trigger-wrapper" [class.active]="activeMenuItem()?.slug === item.slug">
          <p-button
            [icon]="item.icon"
            (click)="onToggleNavItem(item)"
          />
        </div>
      }
    </div>
  </div>

<!--  TODO: close drawer on Esc keyup-->
  <div
    class="content-panel"
    [class.content-panel--open]="isPanelOpen()"
    [class.content-panel--maximized]="isPanelMaximized()"
  >
    <div class="panel-toolbar">
      @if (isPanelMaximized()) {
        <p-button
          icon="pi pi-angle-left"
          [text]="true"
          (onClick)="onMinimizePanel()"
        ></p-button>
      }

      <p-button
        icon="pi pi-times"
        [rounded]="true"
        [text]="true"
        (onClick)="onClosePanel()"
      ></p-button>
    </div>

    <ng-container *ngComponentOutlet="activeMenuItem()?.component || null"/>
  </div>
</div>
