<div class="side-panel">
  <div class="main-toolbar">
    <div class="toolbar-section">
<!--        TODO: ask for confirmation before leaving-->
      <p-button
        icon="pi pi-home"
        [disabled]="isHomePage"
        routerLink="/"
      />
    </div>

    <div class="toolbar-section toolbar-section--bottom">
      @for ( item of menuItems; track item.slug) {
        <div class="trigger-wrapper" [class.active]="activeMenuItem()?.slug === item.slug">
          <p-button
            [icon]="item.icon"
            (click)="onToggleDrawer(item)"
          />
        </div>
      }
    </div>
  </div>

<!--  TODO: close drawer on Esc keyup-->
  <div
    class="drawer"
    [class.expanded]="isExpanded()"
  >
    <div class="drawer-toolbar">
      <p-button
        icon="pi pi-times"
        [rounded]="true"
        [text]="true"
        (onClick)="onCloseDrawer()"
      ></p-button>
    </div>

    <ng-container *ngComponentOutlet="activeMenuItem()?.component || null"/>
  </div>
</div>
