@use '../../../scss/variables' as vars;

.sidebar-layout {
  display: grid;
  grid-template-columns: vars.$drawer-width auto;
  height: 100vh;
}

.nav-rail {
  height: 100%;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  padding: 24px 0;
  display: flex;
  flex-direction: column;
}

.rail-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--bottom {
    justify-content: flex-end;
  }
}

.trigger-wrapper {
  padding: 8px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    background: #ccc;
  }
}

.content-panel {
  padding: 0;
  background-color: rgba(204, 204, 204);
  height: 100%;
  width: 0;
  transition: width 0.3s ease-in-out;
  overflow: hidden;

  &--open {
    width: 30vw;
    // TODO: set min width (apply transition instead of width change to keep transition)
    padding: 4px 8px;
  }

  &--maximized {
    width: calc(100vw - #{vars.$drawer-width});
    padding: 4px 8px;
  }
}

.panel-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > :only-child {
    margin-left: auto;
  }
}
