@use '../../../scss/variables' as vars;

main {
  padding: 0 0 0 vars.$drawer-width;
}

aside {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: vars.$drawer-width;
}

.main-content {
  height: 100vh;
  width: calc(100vw - #{vars.$drawer-width});
}
