<section>
  <h1>{{ title | translate }}</h1>

  <img class="avatar" src="../../../../assets/allied_wizard_avatar.png" alt="actor avatar">

<!--  TODO: parse markdown-->
  <p>{{ task.description | translate }}</p>
</section>

<hr>

<section>
  <img src="../../../../assets/blacksmith.png" alt="blacksmith with his arms crossed on his chest"
       class="avatar avatar--left">

  <p>{{ "TASK_DISPLAY.IM_RONAN" | translate }}</p>

  @if (isHintRequested) {
    <h2>{{ "TASK_DISPLAY.ALGORITHM_DESCRIPTION" | translate }}</h2>
    @for (hint of task.hints; let index = $index; track index) {
<!--     TODO: parse markdown-->
      <p>{{ hint | translate }}</p>
    }
  } @else {
    <button (click)="showHint()">{{ "TASK_DISPLAY.HELP_BUTTON" | translate }}</button>
  }
</section>
