<app-page [isHomePage]="true">
  <div class="map-container">
    <ul>
      @for (challenge of challenges ; track challenge.id) {
        <li>
          <a
            [routerLink]="['challenge', challenge.id]"
            [ngClass]="{'disabled': challenge.blocked}"
          >
            {{ challenge.title }}
          </a>

          @if (challenge.dependencies.length) {
            <app-dependencies
              [ids]="challenge.dependencies"
              (challengeSelected)="onDependencyClicked($event)"
              (skillTreeSelected)="onSkillTreeSelected($event)"
            ></app-dependencies>
          }
        </li>
      }
    </ul>
  </div>
</app-page>
